
main{
  display:flex;
  position:relative;
  flex-wrap: wrap;
  justify-content: space-evenly;
}




topnav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Full width for the nav container */
    padding: 10px;
    flex-wrap: wrap;
}
/* targets any <input> element whose type attribute is set to "search".*/
topnav input[type="search"] {
    width: 60%; /* Increase width of the input box */
    height: 30px; /* Keep height reasonable */
    font-size: 1.1rem; /* Bigger text for readability */
    padding: 8px 12px;
    border: 1px solid #333333;
    border-radius: 8px;
    background-color: rgb(209, 204, 204);

}

input[type="search"]:focus {
    border-color: #000203; /* Highlight on focus */
    box-shadow: 0 0 8px #000203;
}




header {
  background-image: linear-gradient(to bottom,#174871,#A77693);
  border-radius: 20px;
  border: 1px solid #030000;
  padding:10px;
  min-height:25vh;
  margin:25px; 
  text-align: center;
  font-size: 4rem;
  font-weight: thick;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-family: "Shadows Into Light", cursive;
}

section h1{
  position:absolute;
  color: white;
  padding: 10px;
  background: rgba(0, 0, 0, 0.479); /*semi-transparent black */
  border-radius: 5px;
  text-shadow: 1px 1px 3px rgb(12, 0, 0); /*extra clarity*/
}

section p{
  position: absolute;
  top:150px;
  font-size:0.8rem;
  opacity: 0;
  color: rgba(252, 250, 250, 0.904); /* or black depending on image */
  padding: 10px;
  background: rgba(0, 0, 0, 0.479); /* semi-transparent black */
  border-radius: 5px;
  transition: opacity 0.3s ease;
  text-shadow: 1px 1px 3px rgb(12, 0, 0); /*extra clarity*/
}

.Shonen:hover p {
  opacity: 1;
}
.Isakei:hover p {
  opacity: 1;
} 
.Sports:hover p {
  opacity: 1;
} 
.Comedy:hover p {
  opacity: 1;
} 
.Sci-fi:hover p {
  opacity: 1;
} 
.Romance:hover p {
  opacity: 1;
}  

section {
  display:flex; 
  margin: 25px 25px 30px 30px;
  border: 1px solid #d62020;
  border-radius:10px; /* apply's curve to edges*/
  flex-wrap:wrap;
  position: relative;
}

section:hover {
  background-color: #f1f1f1;
  border-color: #007bff;
  box-shadow: 0 0 20px rgba(14, 231, 14, 0.7);
  transform: scale(1.3);
  
}
 

.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size:1rem;
  gap:25px;
  background-color: #030000;
  margin:25px 25px;
  border: 1px solid #030000;
  min-height:45vh;
  border-radius: 20px;
}
.footer a{
  color: aliceblue;
  background-color: transparent;
  font-size: larger;
}
a:hover{
  transform: scale(1.3);
}

.footer .icon{
  display:flex;
  flex-direction: column ;
  justify-content: center;
  gap:10px;
  background-color:transparent;
  flex-wrap: wrap;
}


